.about-header {
    position: relative;
}

.about-header-title:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100px;
    background: url(../img/page-title-bg.png) no-repeat;
    width: 358px;
    height: 218px;
    opacity: 0.3;
}

.header-title-about {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    color: #989898;
    z-index: 3;
    height: 240px;
}

.header-title-about span {
    display: table;
    background-color: #fff;
    position: absolute;
    left: 115px;
    bottom: 20px;
    z-index: 4;
}

.header-title-about:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 100px;
    background: url(../img/page-title-bg.png) repeat;
    width: 100%;
    height: 218px;
}

.hta2 {
    font-family: "the artisan";
}

.header-title-about2 {
    position: relative;
    font-weight: 700;
    color: #989898;
    z-index: 3;
    height: 240px;
    text-align: center;
}

.header-title-about2 span.bottom {
    display: table;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: 4;
}

.header-title-about2:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 100px;
    background: url(../img/page-title-bg.png) repeat;
    width: 100%;
    height: 240px;
}

.au-top-title {
    font-family: "the artisan";
    font-size: 100px;
}

.au-left-bottom-title {
    position: absolute;
    left: 0;
    bottom: -55px;
}
.au-lbt-1 {
    font-size: 260px;
    line-height: 200px;
    color: #989898;
    font-weight: 700;
}
.au-lbt-2 {
    font-size: 45px;
    line-height: 50px;
    color: #989898;
    font-weight: 600;
    text-transform: uppercase;
}
.au-lbt-3 {
    font-size: 45px;
    line-height: 50px;
    color: #1a1a1a;
    font-weight: 600;
    text-transform: uppercase;
}
.au-lbt-4 {
    font-size: 45px;
    line-height: 50px;
    color: #ba9f58;
    font-weight: 600;
    text-transform: uppercase;
}
.au-lbt-5 {
    font-size: 45px;
    line-height: 50px;
    color: #989898;
    font-weight: 600;
    text-transform: uppercase;
}

.about-us-numeric-word {
    color: #989898;
    font-size: 120px;
    font-weight: 700;
    position: relative;
}
.about-us-numeric-word span {
    color: #ba9f58;
    font-size: 28px;
    font-weight: 600;
    margin-left: -25px;
}
.about-us-numeric-word::after {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 0;
    height: 7px;
    background-color: #989898;
    width: 75px;
}

.about-us-sep-description p {
    color: #4a4a4a;
    line-height: 35px;
}

.expriences::after {
    content: "";
    clear: both;
    display: table;
}
.expriences_number {
    font-size: 105px;
    color: #1c1c1c;
    font-weight: 700;
    float: left;
    position: relative;
}
.expriences_number::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 60px;
    height: 8px;
    background-color: #1c1c1c;
}
.expriences_r {
    float: left;
    margin-top: 50px;
    margin-left: 10px;
}

.expriences_text1 {
    font-size: 72px;
    line-height: 60px;
    font-family: "the artisan";
    color: #888888;
}
.expriences_text2 {
    font-size: 28px;
    line-height: 28px;
    color: #ba9f58;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 35px;
}
.expriences_text3 {
    font-size: 28px;
    line-height: 40px;
    color: #ba9f58;
    text-transform: uppercase;
    font-weight: 700;
}

.customers_number {
    font-size: 105px;
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
}
.customers_number span {
    color: #ba9f58;
}
.customers_number::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 250px;
    height: 8px;
    background-color: #1c1c1c;
}
.customer-bottom {
    margin-left: 35px;
    margin-top: 20px;
}
.customers_text1 {
    font-size: 72px;
    line-height: 60px;
    font-family: "the artisan";
    color: #888888;
}
.customers_text2 {
    font-size: 28px;
    line-height: 28px;
    color: #ba9f58;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 35px;
}

.about-center-bg {
    background: url(../img/about-bg.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 410px;
}

.about-center-bg::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #ba9f58;
    left: 0;
    top: 0;
    opacity: 0.9;
    z-index: 1;
}

.video-cover-top-item {
    position: relative;
    z-index: 2;
}

.video-text {
    margin-top: 50px;
    position: relative;
}
.video-text-item {
    font-family: "the artisan";
    color: #fff;
}
.about-video {
    position: absolute;
    top: -140px;
    left: 0;
    z-index: 3;
}

.about-video-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    background-color: #fff;
    border-radius: 50%;
}

.video-arrow {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0%, -50%);
}

.video-arrow img {
    width: 140px;
}

.group-logo {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border: 1px solid rgb(186 159 88 / 10%);
}

.group-logo:hover {
    border: 1px solid rgb(186 159 88 / 99%);
}

.au-bottom-arrow {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translate(0%, -50%);
    opacity: 0.5;
}


.property-catalog:after, .property-catalog:before {
    content: "";
    position: absolute;
    background: #bb9f56;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}

.property-catalog:before {
    width: 100%;
    height: 1px;
    bottom: -40px;
    left: 0;
}

.property-catalog:after {
    width: 1px;
    height: calc(100% + 45px);
    top: 30px;
    left: 40px;
}

.pc-detail {position:absolute;right:0;bottom:-70px;background-color:#fff;padding:10px;width:250px;}
.pc-text1 {font-size:14px;color:#ba9f58;text-transform:uppercase;font-weight:600;}
.pc-text2 {font-size:12px;color:#989898;text-transform:uppercase;font-weight:600;}
.pc-icon1 {color:#ba9f58;font-size:25px;text-align:center;}