.sare-pt-5 {padding-top:5px;}
.sare-pt-10 {padding-top:10px;}
.sare-pt-20 {padding-top:20px;}
.sare-pt-30 {padding-top:30px;}
.sare-pt-40 {padding-top:40px;}
.sare-pt-50 {padding-top:50px;}
.sare-pt-60 {padding-top:60px;}
.sare-pt-70 {padding-top:70px;}
.sare-pt-80 {padding-top:80px;}
.sare-pt-90 {padding-top:90px;}
.sare-pt-100 {padding-top:100px;}
.sare-pt-150 {padding-top:150px;}
.sare-pt-175 {padding-top:150px;}
.sare-pt-200 {padding-top:200px;}

.sare-pb-5 {padding-bottom:5px;}
.sare-pb-10 {padding-bottom:10px;}
.sare-pb-20 {padding-bottom:20px;}
.sare-pb-30 {padding-bottom:30px;}
.sare-pb-40 {padding-bottom:40px;}
.sare-pb-50 {padding-bottom:50px;}
.sare-pb-60 {padding-bottom:60px;}
.sare-pb-70 {padding-bottom:70px;}
.sare-pb-80 {padding-bottom:80px;}
.sare-pb-90 {padding-bottom:90px;}
.sare-pb-100 {padding-bottom:100px;}
.sare-pb-150 {padding-bottom:150px;}
.sare-pb-200 {padding-bottom:200px;}

.sare-mt-5 {margin-top:5px;}
.sare-mt-10 {margin-top:10px;}
.sare-mt-20 {margin-top:20px;}
.sare-mt-30 {margin-top:30px;}
.sare-mt-40 {margin-top:40px;}
.sare-mt-50 {margin-top:50px;}
.sare-mt-60 {margin-top:60px;}
.sare-mt-70 {margin-top:70px;}
.sare-mt-80 {margin-top:80px;}
.sare-mt-90 {margin-top:90px;}
.sare-mt-100 {margin-top:100px;}
.sare-mt-150 {margin-top:150px;}
.sare-mt-200 {margin-top:200px;}

.sare-mb-5 {margin-bottom:5px;}
.sare-mb-10 {margin-bottom:10px;}
.sare-mb-20 {margin-bottom:20px;}
.sare-mb-30 {margin-bottom:30px;}
.sare-mb-40 {margin-bottom:40px;}
.sare-mb-50 {margin-bottom:50px;}
.sare-mb-60 {margin-bottom:60px;}
.sare-mb-70 {margin-bottom:70px;}
.sare-mb-80 {margin-bottom:80px;}
.sare-mb-90 {margin-bottom:90px;}
.sare-mb-100 {margin-bottom:100px;}


.sare-fw-100 {font-weight:100;}
.sare-fw-200 {font-weight:200;}
.sare-fw-300 {font-weight:300;}
.sare-fw-400 {font-weight:400;}
.sare-fw-500 {font-weight:500;}
.sare-fw-600 {font-weight:600;}
.sare-fw-700 {font-weight:700;}
.sare-fw-800 {font-weight:800;}
.sare-fw-900 {font-weight:900;}

.sare-fs-12 {font-size:12px;}
.sare-fs-14 {font-size:14px;}
.sare-fs-16 {font-size:16px;}
.sare-fs-18 {font-size:18px;}
.sare-fs-20 {font-size:20px;}
.sare-fs-22 {font-size:22px;}
.sare-fs-24 {font-size:24px;}
.sare-fs-26 {font-size:26px;}
.sare-fs-28 {font-size:28px;}
.sare-fs-30 {font-size:30px;}
.sare-fs-32 {font-size:32px;}
.sare-fs-34 {font-size:34px;}
.sare-fs-36 {font-size:36px;}
.sare-fs-38 {font-size:38px;}
.sare-fs-40 {font-size:40px;}
.sare-fs-42 {font-size:42px;}
.sare-fs-44 {font-size:44px;}
.sare-fs-46 {font-size:46px;}
.sare-fs-48 {font-size:48px;}
.sare-fs-50 {font-size:50px;}
.sare-fs-52 {font-size:52px;}
.sare-fs-54 {font-size:54px;}
.sare-fs-56 {font-size:56px;}
.sare-fs-58 {font-size:58px;}
.sare-fs-60 {font-size:60px;}
.sare-fs-62 {font-size:62px;}
.sare-fs-64 {font-size:64px;}
.sare-fs-66 {font-size:66px;}
.sare-fs-68 {font-size:68px;}
.sare-fs-70 {font-size:70px;}
.sare-fs-72 {font-size:72px;}
.sare-fs-74 {font-size:74px;}
.sare-fs-76 {font-size:76px;}
.sare-fs-78 {font-size:78px;}
.sare-fs-80 {font-size:80px;}
.sare-fs-82 {font-size:82px;}
.sare-fs-84 {font-size:84px;}

.text-transform-uppercase {text-transform:uppercase;}
.text-transform-lovercase {text-transform:lovercase;}


.letter-spacing-1 {letter-spacing:1px;}
.letter-spacing-2 {letter-spacing:2px;}
.letter-spacing-3 {letter-spacing:3px;}
.letter-spacing-4 {letter-spacing:4px;}
.letter-spacing-5 {letter-spacing:5px;}
.letter-spacing-10 {letter-spacing:10px;}
.letter-spacing-15 {letter-spacing:15px;}
.letter-spacing-20 {letter-spacing:20px;}
.letter-spacing-25 {letter-spacing:25px;}
.letter-spacing-30 {letter-spacing:30px;}
.letter-spacing-35 {letter-spacing:35px;}
.letter-spacing-45 {letter-spacing:45px;}
.letter-spacing-55 {letter-spacing:55px;}

.line-height-5 {line-height: 45px;}
.line-height-15 {line-height: 15px;}
.line-height-25 {line-height: 25px;}
.line-height-35 {line-height: 35px;}
.line-height-45 {line-height: 45px;}
.line-height-55 {line-height: 55px;}
.line-height-65 {line-height: 65px;}
.line-height-70 {line-height: 70px;}
.line-height-75 {line-height: 75px;}
.line-height-80 {line-height: 80px;}
.line-height-85 {line-height: 85px;}

.mx-center-50 {display:table;margin:50px auto;}


.sare-ml-10 {margin-left:10px;}
.sare-ml-20 {margin-left:20px;}
.sare-ml-30 {margin-left:30px;}
.sare-ml-40 {margin-left:40px;}
.sare-ml-50 {margin-left:50px;}
.sare-ml-60 {margin-left:60px;}
.sare-ml-70 {margin-left:70px;}
.sare-ml-80 {margin-left:80px;}
.sare-ml-90 {margin-left:90px;}
.sare-ml-100 {margin-left:100px;}

.sare-mr-10 {margin-right:10px;}
.sare-mr-20 {margin-right:20px;}
.sare-mr-30 {margin-right:30px;}
.sare-mr-40 {margin-right:40px;}
.sare-mr-50 {margin-right:50px;}
.sare-mr-60 {margin-right:60px;}
.sare-mr-70 {margin-right:70px;}
.sare-mr-80 {margin-right:80px;}
.sare-mr-90 {margin-right:90px;}
.sare-mr-100 {margin-right:100px;}